/* regole generali */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* regole header parte 3 colonne */
.container-nav{
    background-color: rgb(37 94 233);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border: none;
    /* DEBUG */
    /* height: 65px; */
}

.logo{
    /* background-color: orange; */
    display: flex;
    padding-top: 1.5%;
    padding-left: 7%;
    /* margin-left: 250px;
    /* DEBUG */
    /* height: 70%;
    width: 17%;
    border: 2px dashed black; */
}


.link{
    /* background-color: orange;
    border: 2px dashed black; */
    padding-bottom: 7px;
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* DEBUG */
    /* height: 70%;
    width: 50%; */
}

.link li a{
    padding: 25px;
    text-decoration:none;
    color: white;

}

.login{
    /* background-color: orange; */
    display: flex;
    margin-right: 14%;
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* margin-right: 250px;
    padding-right: 15px; */
    /* DEBUG */
    /* height: 70%;
    width: 17%;
    border: 2px dashed black; */
}

.login button{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

/* regole parte di download */

.container-download{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    border: none;
    /* background-position: center;
    background-repeat: no-repeat; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* DEBUG */
}

#download{
    /* background-color: rgb(227, 107, 241); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* DEBUG */
    /* height: 80%;
    width: 50%;
    border: 2px dashed black; */
}

#download h1{
    font-size: 70px;
    color: white;
    padding-bottom: 50px;
    margin-top: 150px;
}

#download p{
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 37px;
    margin-bottom: 30px;
}

.contenitore-bottoni{
    padding-bottom: 150px;
}

.bottone-mac{
    margin: 0px 20px;
    border-radius: 33px;
    border: none;
    background-color: white;
    color: black;
    padding: 17px;
    font-size: 19px;
}

.bottone-browser{
    margin: 0px 20px;
    border-radius: 33px;
    border: none;
    background-color: rgb(35 41 45);
    color: white;
    padding: 17px;
    font-size: 19px;    
}


/* regole main 1 e 3 parte di testo*/
.container-text1{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    /* height: 400px;
    width: 100%; */
}

.contenuto-grande{
    margin-right: 150px ;
    margin-bottom: 200px;
}

.contenuto-piccolo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenuto-piccolo h1 {
    font-size: 60px;
    color: rgb(41 40 65);
    margin-top: 170px;
    margin-bottom: 50px;
}

.contenuto-piccolo p{
    color: rgb(41 40 65);
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 150px;
}


/* regole main 2 parte di testo*/
.container-text2{
    padding: 100px;
    background-color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-text2 .contenuto-piccolo{
    margin-right: 150px;
}

.container-text2 .contenuto-grande{
padding-top: 180px; 
}

/* regole main 4 parte di testo */
.container-text4{
    background-color: rgb(141, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    height: 750px;
    width: 100%;
}

.contenuto-unico{
    background-color: rgb(9, 122, 1);
    /* DEBUG */
    height: 90%;
    width: 70%;
    border: 2px dashed black;
}

/* regole footer parte info */
.container-footer-info{
    background-color: rgb(50, 49, 49);
    display: flex;
    justify-content: center;
    /* DEBUG */
    height: 400px;
    width: 100%;
}

#info-grande{
    background-color: rgb(255, 133, 133);
    margin-top: 10px;
    /* DEBUG */
    height: 90%;
    width: 22%;
    border: 1px dashed black;
}

.info-piccole{
    background-color: rgb(98, 247, 240);
    margin-top: 10px;
    /* DEBUG */
    height: 90%;
    width: 12%;
    border: 1px dashed rgb(239, 239, 239);
}

/* regole footer parte registrazione */
.container-footer-registrati{
    background-color: rgb(50, 49, 49);
    display: flex;
    justify-content: center;
    align-items: end;
    /* DEBUG */
    width: 100%;
    height: 70px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.logo-registrati{
    background-color: rgb(46, 247, 180);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    height: 80%;
    width: 70%;
}

#logo-2{
    background-color: rgb(249, 126, 126);
    padding-left: 10px;
    /* DEBUG */
    border: 2px dashed black;
    width: 6%;
}

#registrati{
    background-color: rgb(249, 126, 126);
    font-size: 16px;
    /* DEBUG */
    border: 2px dashed black;
    width: 7%;
} 