/* regole generali */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* regole header parte 3 colonne */
.container-nav{
    background-color: rgb(37 94 233);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border: none;
}

.logo{
    display: flex;
    padding-top: 1.5%;
    padding-left: 7%;
}


.link{
    padding-bottom: 7px;
    list-style-type: none;
    display: flex;
}

.link li a{
    padding: 25px;
    text-decoration:none;
    color: white;

}

.login{
    display: flex;
    margin-right: 14%;
}

.login button{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

/* regole parte di download */

.container-download{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    border: none;
}

#download{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#download h1{
    font-size: 70px;
    color: white;
    padding-bottom: 50px;
    margin-top: 150px;
}

#download p{
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 37px;
    margin-bottom: 30px;
}

.contenitore-bottoni{
    padding-bottom: 150px;
}

.bottone-mac{
    margin: 0px 20px;
    border-radius: 33px;
    border: none;
    background-color: white;
    color: black;
    padding: 17px;
    font-size: 19px;
}

.bottone-browser{
    margin: 0px 20px;
    border-radius: 33px;
    border: none;
    background-color: rgb(35 41 45);
    color: white;
    padding: 17px;
    font-size: 19px;    
}


/* regole main 1 e 3 parte di testo*/
.container-text1{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenuto-grande{
    margin-right: 150px ;
    margin-bottom: 200px;
}

.contenuto-piccolo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenuto-piccolo h1 {
    font-size: 60px;
    color: rgb(41 40 65);
    margin-top: 170px;
    margin-bottom: 50px;
}

.contenuto-piccolo p{
    color: rgb(41 40 65);
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 150px;
}

.contenuto-grande-3{
    margin-right: 150px ;
    margin-bottom: 200px;
    padding-top: 220px;
}


/* regole main 2 parte di testo*/
.container-text2{
    background-color: rgb(224, 223, 223);
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-text2 .contenuto-piccolo{
    margin-right: 150px;
}

.container-text2 .contenuto-grande{
padding-top: 180px; 
}

/* regole main 4 parte di testo */
.container-text4{
    background-color: rgb(224, 223, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenuto-unico h1{
    font-size: 60px;
    color: rgb(41 40 65);
    margin-top: 170px;
    margin-bottom: 50px;
}

.contenuto-unico p{
    color: rgb(41 40 65);
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 100px;
    text-align: center;
}

.contenuto-unico-img{
    transform: scale(1.3);
    margin-bottom: 130px;
}

.stelle{
    background-size: cover;
}

h2{
    font-size: 30px;
    color:rgb(41 40 65) ;
}

.bottone-download2 .bottone-mac{
    background-color: rgb(142 160 226);
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
}



/* regole footer parte info */

.container-footer{
    background-color: rgb(35 39 42);
    padding: 50pxpx 0px;
}

.container-footer-info{
    background-color: rgb(35 39 42);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 15%;
    margin-right: 15%;
}

#info-grande{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#info-grande h2{
    color: rgb(142 160 226);
    margin-left: 43px;
}

.loghi-social{
    display: flex;
    margin: 10px 25px;
}

.loghi-social a{
    padding-left: 25px;
    color: white;
    font-size: 20px;
}


.logo-italia{
    transform: scale(0.4);
    display: flex;
    margin-top: 5px;
}

.logo-italia button{
    background-color: rgb(35 39 42);
    font-size: 30px;
    color: white;
    border: none;
    padding-left: 10px;
}

/* regole info piccole */

.info-piccole h4{
    color: rgb(144 162 228);
    font-size: 18px;
    margin-top: 50px;
}

.info-piccole ul{
    color: rgb(255, 255, 255);
    font-size: 15px;
    list-style-type: none;

}

.info-piccole ul li{
    margin: 10px 0px;
}

/* regole footer parte registrazione */

.linea-bianca{
  border: none;
  height: 1px;
  background-color: #ffffff20;
  margin:30px 0;
  margin-bottom: 20px;
}

.container-footer-registrati{
    background-color: rgb(35 39 42);
    padding: 20px 300px; 
}

.logo-registrati{
    background-color: rgb(35 39 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registrati{
    border-radius: 33px;
    border: none;
    background-color: rgb(144 162 228);
    color: white;
    padding: 10px;
    font-size: 16px; 
} 